html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  margin: 0;
  background-repeat: repeat;
  background-image: url("images/Background.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #18191a;
  margin-bottom: 0cqmax;
}

li {
  padding-bottom: 10px;
}

h1.section-break,
h2.section-break {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
  font-size: 35px;
}


/* h1, .h1 {
    font-size: 200%;
} */
h2, .h2 {
    font-size: 180%;
}
h3, .h3 {
    font-size: 140%;
}
h4, .h4 {
    font-size: 120%;
}

/* Navigation */

nav {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  top: 0;
  margin: 0;
}

nav,
nav a,
nav p a {
  color: #222222;
}
.nav-buttons {
  float: right;
}
.container {
  overflow: hidden;
  background-color: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .space {
  height: 48px;
  display: none;
}

.container a {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav .Name {
  margin: 0;
  font-weight: bold;
}

nav p {
  font-weight: normal;
}

.container .icon {
  display: none;
}

a {
color: #f5f5f5;
}

a:hover {
  opacity: 0.5;
}

a:visited {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .container a:not(:first-child) {
    display: none;
  }
  .container a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .container.responsive {
    position: relative;
  }
  .container.responsive .icon {
    position: absolute;
    right: 0;
    top: 14;
  }
  .container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .container.responsive .space {
    display: block;
  }
}

/* Botões */
.btn {
  font-family: "Montserrat", serif;
  display: inline-block;
  font-weight: bold;
  padding: 18px 16px;
  margin-right: 8px;
  margin-bottom: 18px;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: white;
  color: black;
}
.btn-secondary {
  color: white;
}

.btn-primary a:link {
  color: #18191a;
}

/* Grid (footer) */
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.col {
  padding: 16px;
  margin: 5px;
  background-color: #18191a;
  border-right: 1px solid #f5f5f5;
}

.col .btn btn-primary a:link {
  color: #18191a;
}

#email a:link {
  color: lightgray;
}
#copyright a:any-link {
  color: lightgray;
}

/* Remove border on the last column */
.col:nth-child(3n) {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
  .col {
    border-right: none;
    border-bottom: 1px solid #f5f5f5;
  }
  .col:nth-child(3n) {
    border-bottom: none;
  }
}

/* Grid samples*/

.sample-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sample-row:not(:last-child) {
  margin-bottom: 40px;
}

.sample-description {
  margin: 5px;
  padding-left: 20px;
  text-align: start;
  align-content: center;
}

.sample-image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sample-row {
    grid-template-columns: 1fr;
  }
  .sample-row:not(:last-child) {
    margin-bottom: 10px;
  }
}

.sample-image {
  position: relative;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  align-self: start;
}

/* Grid about me*/

.aboutme-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
}

.aboutme-description {
  padding: 16px;
  margin: 15px;
  align-self: center;
}

.aboutme-photo img {
  max-width: 100%;
  max-height: 550px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .aboutme-row {
    grid-template-columns: 1fr;
  }
}

.aboutme-photo {
  max-height: 70vh; /* Set a maximum height using viewport height units */
  margin: 0 auto;
  overflow: hidden; /* Hide any overflow beyond the set dimensions */
  padding-top: 25px;
}

#copyright {
  text-align: right;
  font-size: 13px;
  margin-bottom: 0px;
  letter-spacing: 0.02em;
}

#title {
  position: absolute;
  margin-right: 35px;
  white-space: nowrap;
  float: left;
}

.content {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  #title {
    font-size: 15px;
    line-height: 27px;
    white-space: nowrap;
  }
}

.col img {
  max-width: 40%;
  height: auto;
}

.e-mail:before {
  content: attr(data-website) "\0040"attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* Grid portfolio*/

.portfolio-all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.portfolio-case img {
  width: 100%;
  position: relative;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  align-self: start;
}

.portfolio-case {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .portfolio-all {
    grid-template-columns: 1fr;
  }
  .portfolio-all:not(:last-child) {
    margin-bottom: 10px;
  }
}

h1.section-start {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 45px;
  margin-top: 0px;
}

.accordion-row {
  display: flex;
}
.accordion-row .col {
  flex: 1;
}
.accordion-row .accordion-col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  color: #f5f5f5;
  overflow: hidden;
}
.tab-label {
  display: flex;
  gap: 20px;
  padding: 0.5em;
  background: #18191a;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;

  /* Icon */
}
.tab-label:hover {
  background: #18191a;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #f5f5f5;
  background: #18191a;
  transition: all 0.2s;
  overflow: hidden;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #18191a;
  cursor: pointer;
}
.tab-close:hover {
  background: #18191a;
}
input:checked + .tab-label {
  background: #18191a;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100%;
  padding: 1em;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Grid (methodology inspiring care) */
.methods-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.methods-col {
  background-color: #18191a;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .methods-row {
    grid-template-columns: 1fr;
  }
}

/* Grid (methodology shopping) */

.methods-row1 h3 {
  text-align: center;
}

.methods-row1 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  column-gap: 30px;
}
.methods-col1 {
  background-color: #18191a;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .methods-row1 {
    grid-template-columns: 1fr;
  }
}

.methods-row h3 {
  text-align: center;
}

/* Grid (documentation) */
.doc-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  place-items: center;
}
.doc-col {
  background-color: #18191a;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .doc-row {
    grid-template-columns: 1fr;
  }
}

.doc-col img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.thera-img,
.knowledgeq-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* Grid (insights) */
.insight-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.insight-col {
  background-color: #18191a;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .insight-row {
    grid-template-columns: 1fr;
  }
}

/* Grid (text+images) */
.textimg-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.textimg-col {
  background-color: #18191a;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .textimg-row {
    grid-template-columns: 1fr;
  }
}

.school-img,
.list-img {
  position: relative;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  align-self: start;
  max-width: 95%;
  height: auto;
}

.subtitle {
  margin-top: 0;
  font-size: 13px;
  font-style: italic;
}

.logo-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* Grid (more about me) */

.moreaboutme-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: left;
  grid-template-columns: 1fr 2fr;
}

.moreaboutme-description {
  margin: 15px;
  align-self: left;
}

.moreaboutme-photo img {
  max-width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .moreaboutme-row {
    grid-template-columns: 1fr;
  }
}

.moreaboutme-photo img {
  max-height: 70vh; /* Set a maximum height using viewport height units */
  margin: 0 auto;
  overflow: hidden; /* Hide any overflow beyond the set dimensions */
  padding-top: 25px;
}

/* @media screen and (max-width: 768px) {
  #moreaboutme {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
} */

.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);

  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline li .title,
.timeline li .descr {
  background: var(--bgColor);
  position: relative;
}
.timeline li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline li .title::before,
.timeline li .descr::before {
  content: "";
  position: absolute;
  max-width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline::before {
    grid-column: 2;
  }
  .timeline li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

@media screen and (max-width: 768px) {
  .timeline .date,
  .title,
  .descr {
    max-width: 100%;
  }
}

.jobdescription {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.joblist {
  padding-left: 0;
}

.joblist li {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* Grid (resume) */
.resume-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
.resume-col {
  padding: 16px;
  margin: 5px;
  background-color: #18191a;
}

@media screen and (max-width: 768px) {
  .resume-row {
    grid-template-columns: 1fr;
  }
}

#education-date,
#education-detail {
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-bottom: 10px;
}

#education-course,
#education-school {
  margin: 0;
  padding: 0;
}

#education-school {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

/* Table of contents */

.toc {
  background-color: transparent;
  border-left: 3px solid #f5f5f5;
  padding: 1em;
  margin-bottom: 1em;
}

.toc h2 {
  font-size: 1.5em;
  margin-top: 0;
  color: #f5f5f5;
}

.toc ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.toc li {
  margin: 0.5em 0;
}

.toc a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.3s;
}

.toc a:hover {
  opacity: 0.5;
}

.toc li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
