<footer>
  <div class="footer">
    <h2 id="contact" class="section-break">Contact</h2>
    <div class="row">
      <div class="col">
        <h3>How to reach me</h3>
        <p>You can find me through my e-mail or through my LinkedIn profile:</p>
        <p id="email">
          <a  
            href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%61&#110;%61&#99;%6F&#105;%6D&#98;%72&#97;%2E&#117;%78&#114;%65&#115;%65&#97;%72&#99;%68&#64;%67&#109;%61&#105;%6C&#46;%63&#111;%6D"
          >
            <span
              class="e-mail"
              data-user="hcraeserxu.arbmiocana"
              data-website="moc.liamg"
            ></span>
          </a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/analuciacoimbra/">
            <img src="images/LinkedIn.png" alt="LinkedIn Logo" />
          </a>
        </p>
      </div>
      <div class="col">
        <h3>My availability</h3>
        <p>
          At the moment, I am looking for a new opportunity as a UX Researcher.
        </p>
        <p>If you are curious or want to learn more about me, chat me up!</p>
      </div>
      <div class="col">
        <h3>My resume</h3>
        <p>
          If you wish to know more about my professional experiences or take a copy of my resume with you, feel free to do so through the buttons below:
        </p>
        <a href="/resume" class="btn btn-primary">View</a>
        <a href="/CV - Ana Lúcia Coimbra.pdf" target="_blank" class="btn btn-secondary"
          >Download (PDF)</a>
      </div>
    </div>
    <p id="copyright">
      © 2023 Ana Lúcia Coimbra | Coded by me | Pattern by
      <a href="https://www.colourlovers.com/lover/Tenshiko/loveNote"
        >Tenshiko</a
      >
    </p>
  </div>
</footer>
