<nav>
  <div class="container" id="nav-bar">
    <a id="title" href="./"
      ><span class="Name">Ana Lúcia Coimbra</span> · UX Researcher</a
    >
    <span class="nav-buttons">
      <span class="space"></span>
      <a href="./">Home</a>
      <a href="./portfolio">Portfolio</a>
      <a href="./resume">Resume</a>
      <a href="./aboutme">About</a>
      <a href="#contact">Contact</a></span
    >
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
